/*Ensures all the text in the index.html file has font Arial*/

body {
	font-family: Arial;
}

/*Everything in the class "info" will be centered*/
.info {
	text-align: center;
}

/*Everything in the id "acknowledgements" will be black, bold, have a medium font size, and centered.*/
#acknowledgements {
	color: black;
	font-weight: bold;
	font-size: medium;
	text-align: center;
}

/*Everything in the id "data_types" will be centered, bold, and black.*/
#data_types {
	text-align: center;
	font-weight: bold;
	color:black;
}


.centered {
	text-align: center;
}

.row {
    display: flex;
    gap: 1rem;
    flex-direction: row;
    flex-wrap: nowrap;
    width: 100%;
}

.row:after {
    content: "";
    border: 1px solid #d3d3d3;
    align-self: stretch;
}

.column {
	display: flex;
	flex-direction: column;
	flex: 1;
	padding: 5px;
}

.vis1 {
	align-self: center;
}

.vis2 {
	align-self: center;
}

.right-column {
    order: +1;
}

.p1 {
	text-align: left;
}

.circle {
	fill:rgb(204,102,51);
} 

.circle:hover {
	stroke-width:3;stroke:rgb(98,128,84);
}

.rectangle {
	stroke-width:3;
	fill:rgb(140,183,125);
	stroke:rgb(98,128,84);
}

.rectangle:hover {
	fill:rgb(204,102,51);
}





