/*Ensures all the text in the index.html file has font Arial*/

body {
	font-family: Arial;
}

/*Everything in the class "info" will be centered*/
.info {
	text-align: center;
}

/*Everything in the id "acknowledgements" will be black, bold, have a medium font size, and centered.*/
#acknowledgements {
	color: black;
	font-weight: bold;
	font-size: medium;
	text-align: center;
}

/*Everything in the id "data_types" will be centered, bold, and black.*/
#data_types {
	text-align: center;
	font-weight: bold;
	color:black;
}







